header, #C1{
    text-align: center;
    font :40px Roboto, sans-serif;
    color:black;
    text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
}
#nestor{
    background: white;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
a{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font :35px bold Roboto, sans-serif;
    color:white;
    background: rgba(0, 0, 0, 0.9);
    border: rgba(0, 0, 0, 0.1) solid 10px;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    margin: 30px;
}

a:hover{
    background: #a1a0a0;
    border: #a1a0a0 solid 10px;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
body{
    background-color: #FAFAFAFF;
}
#image1{
    display: flex;
    margin: 20px;
}
section, article{
    font :30px Roboto, sans-serif;
    color:black;
}
iframe{
    border-radius: 20px;
}
footer{
    font :25px Roboto, sans-serif;
    color:black;
}

.countryproject{
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses1{
    background: #c2c2d1;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

#courses{
    display: flex;
    justify-content: center;
    align-items: center;
}

input, textarea{
    border-radius: 20px;
    background: #fafafa;
    border: black solid 5px;
    font : 20px Roboto, sans-serif;
    color: black;
}

input:hover, textarea:hover{
    background : #3b3b5c;
}

button{
    font :30px bold Roboto, sans-serif;
    color:white;
    background: rgba(0, 0, 0, 0.9);
    border: rgba(0, 0, 0, 0.1) solid 10px;
    border-radius: 20px;
    width: auto;
    height: auto;
    text-align: center;
}

button:hover{
    background: #a1a0a0;
    border: #a1a0a0 solid 10px;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.1);
}

.none1{
    background: none;
    border: none;
    box-shadow: none;
    margin : 0;
    margin-left: 20px;
    margin-right: 20px;
}

.none2{
    background: gray;
    border: gray solid 10px;
    border-radius: 15px;
    box-shadow: none;
    margin : 0;
    margin-left: 20px;
    margin-right: 20px;
}

select{
    border-radius: 20px;
    background: #FAFAFAFF;
    border: black solid 3px;
    font:20px Roboto, sans-serif;
    color: black;
    text-align: center;
}

table, tr, td, th{
    border: black solid 3px;
    border-collapse: collapse;
    text-align: center;
}