header, #C1{
    text-align: center;
    font :40px Roboto, sans-serif;
    color:white;
}
#nestor{
    background: white;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
a{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font :35px bold Roboto, sans-serif;
    color:black;
    background: rgba(255, 255, 255, 0.9);
    border: rgba(255, 255, 255, 0.1) solid 10px;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.1);
    margin: 30px;
}

a:hover{
    background: #a1a0a0;
    border: #a1a0a0 solid 10px;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.1);
}
body{
    background-color: #101032;
}
#image1{
    display: flex;
}
section, article{
    font :30px Roboto, sans-serif;
    color:white;
}
iframe{
    border-radius: 20px;
}
footer{
    font :25px Roboto, sans-serif;
    color:white;
}

.countryproject{
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses1{
    background: #000022;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

#courses{
    display: flex;
    justify-content: center;
    align-items: center;
}