<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <h1>Cities</h1>
    <p>Check out the cities of the world!</p>
    <a href="http://127.0.0.1:5000/cities"> All cities!</a>
    <br>
    <a href="http://127.0.0.1:5000/city/1"> Skopje!</a>
    <br>
    <a href="http://127.0.0.1:5000/city/2"> Belgrade!</a>
    <br>
    <a href="http://127.0.0.1:5000/city/3"> Berlin!</a>
    <br>
    <a href="http://127.0.0.1:5000/city/4"> Paris!</a>
    <br>
    <a href="http://127.0.0.1:5000/city/5"> Vienna!</a>
</body>
</html>