header{
    text-align: center;
    font :40px Roboto, sans-serif;
    color:white;
    text-shadow: 20px 20px 10px rgba(255, 255, 255, 0.1);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
a{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font :40px bold Roboto, sans-serif;
    color:black;
    background: rgba(255, 255, 255, 0.9);
    border: rgba(255, 255, 255, 0.1) solid 10px;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.1);
    margin: 30px;
}

body{
    background: linear-gradient(#18202b, #d1d9dd)    ;
    color:white;
    font :20px Roboto, sans-serif;
}

.none1{
    background: none;
    box-shadow: none;
    border: none;
}
footer{
    font :40px bold Roboto, sans-serif;
}

#buttondown{
    background: #171717;
    color: white;
    border-radius: 10px;
    border: 10px solid #171717;
    width: auto;
    height: auto;
    margin: 0;
}

#sec > img{
    border-radius: 20px;
    border: 7px solid #FFFFFF;
    margin : 0;
}

#sec > ul{
    font :40px bold Roboto, sans-serif;
    margin : 0;
}

hr{
    border: 3px solid #FFFFFF;
    border-radius: 5px;
}

#sec{
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#sec > div > h1{
    margin : 0;
}
#sec > h1{
    font :60px bold Roboto, sans-serif;
    margin : 0;
}

nav{
    height: auto;
}

#nestor{
    background: white;
}

iframe{
    border-radius: 20px;
}

article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#28384e,white);
    margin : 60px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.1);
    border: 7px solid #000000;
}

article:hover{
    background: linear-gradient(#28384e,white);
    margin : 40px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2);
}

article img{
    border-radius: 20px;
    margin: 5px;
    border: 7px solid #000000;
}

#images > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

button{
    font :40px Roboto, sans-serif;
    margin : 10px;
    border-radius: 15px;
    border: 7px solid #FFFFFF;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.1);
}

.id123{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font :40px Roboto, sans-serif;
}

input,textarea{
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 5px solid #000000;
}